.product{
    width: 100%;
    overflow: hidden;
    justify-content: center !important;   
}

.product .productBox{
    width: 261px !important;
    height:410px ;
    border-radius: 10px;
    border: 1px solid  #A7A7A7;
    background: #FFF;
}
.product .productBox img {
    width: 259px;
    height: 207px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.product .productBox .product-name{
    font-size: 16px;
    font-weight: 500;
}
.product .productBox .productCase span{
    font-size: 18px;
    font-weight: 500;
}
.product .productBox .productCase p{
    font-size: 10px;
    font-weight: 400;
    color: #D8A459;
}
.product .productBox h6{
    color: #949494;
    font-size: 12px;
    font-weight: 400;
}
.product .productBox button{
    border-radius: 6px;
    background: #52B80E;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 0;
}

/* .slick-slider  {
    width: 100% !important;
} */
   
.slick-prev {
    z-index: 5;
    margin-left: 1%;
   
}

/* .slick-list {
    overflow: initial;
} */

.slick-next {
    z-index: 5 ;
    margin-right: 3%;
    
}

.slick-next:before {
    content:""!important;
    
}
.slick-prev:before {
    content:""!important;
    
}